h3 {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.radio_group label {
  font-size: smaller;
  margin-right: 1rem;
  vertical-align: text-top;
}

.example-container {
  border: 3px solid #5c56ff;
  padding: 1rem;
}
