h3 {
  margin-top: 0;
  margin-bottom: 0.8rem;
}

.radio_group label {
  font-size: smaller;
  margin-right: 1rem;
  vertical-align: text-top;
}

.example-container {
  border: 3px solid #5c56ff;
  padding: 1rem;
}

.call-button {
  padding: 0.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.resultBody {
  border: 1px dashed #18d52d;
  padding: 0.3rem;
}
